python-dotenv
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-anthropic
langchain-ollama
chromadb
tiktoken
sentence-transformers
bs4
firecrawl-py
langchainhub
wikipedia
tavily-python
ollama
ipywidgets
scikit-learn
pandas
python-dotenv
geopy